/* large */
@media screen and (max-width: 991px /* width <= 991px */ ) {
    
/* top banner */    
    .top-banner{
        display: none;
    }
    
/* nav bar */
    .main-nav{
        overflow: initial;
    }

    .nav-toggle{
        display: block;
        margin-right: 20px;
    }

    .nav-links{
        position : absolute;
        background-color: white;
        left : -100%;
        top : 100%;
        width : 100%;
        padding-block: 20px;
        transition: 0.2s ease-in-out;
    }

    .nav-links.active {
        left: 0;
    }

    .nav-links ul{
        flex-direction: column;
    }

/*header section */
    .header-section{
        flex-direction: column-reverse;
    }

    .header-right img{
        width: 693px;
        height: 508px;
    }

    .header-left{
        max-width: 100%;
        text-align: center;
        margin-left: 100px;
        margin-right: 100px;
    }

    .header-left h1{
        margin-top: 0;
        height: 56px;
    }

    .header-left a{
        width: 100%;
    }

/* example section */
    .example-area{
        gap: 20px;
    }

    .example-card{
        width: calc(50% - 10px);
        height: 180px;
    }

/* cta section */
    .cta-section{
        flex-direction: column-reverse;
    }

    .cta-image{
        margin-top: 40px;
    }

    .cta-text{
        align-items: center;
    }

    .cta-text h1{
        font-size: 1.3rem;
    }

    .cta-text h2{
        font-size: 1.5rem;
    }

    .cta-text p{
        text-align: center;
    }

    .cta-links{
        flex-direction: column;
    }

}